{
  "1": "Front & Garage Doors",
  "2": "Master Windows",
  "3": "Motion Sensor",
  "4": "Playroom Doors & Downstairs Bedroom",
  "5": "Front Porch & Backyard Door",
  "6": "Upstairs Windows",
  "7": "Zone 7",
  "8": "Zone 8",
  "9": "Zone 9",
  "10": "Zone 10",
  "11": "Zone 11",
  "12": "Zone 12",
  "13": "Zone 13",
  "14": "Zone 14",
  "15": "Zone 15",
  "16": "Zone 16",
  "17": "Zone 17",
  "18": "Zone 18",
  "19": "Zone 19",
  "20": "Zone 20",
  "21": "Zone 21",
  "22": "Zone 22",
  "23": "Zone 23",
  "24": "Zone 24",
  "25": "Zone 25",
  "26": "Zone 26",
  "27": "Zone 27",
  "28": "Zone 28",
  "29": "Zone 29",
  "30": "Zone 30",
  "31": "Zone 31",
  "32": "Zone 32"
}
